[tools]
"pnpm" = "latest"
"npm:@hono/cli" = "latest"
"npm:localflare" = "latest"
"cargo:pitchfork-cli" = "latest" # https://pitchfork.jdx.dev/

[tasks.tidy]
run = "pnpm run lint && pnpm run format"

[tasks.setup]
depends = ["setup:*"]

[tasks."setup:env"]
run = "pnpm install"
hide = true

[tasks."setup:auth"]
depends = ["setup:env"]
run = """
pnpm run auth:generate && pnpm run db:generate
"""
hide = true

[tasks.dev]
depends = ["setup", "dev:migrate"]
run = "pitchfork start --all"

[tasks."dev:migrate"]
run = "yes | pnpm run db:migrate"
