[tools]
"pnpm" = "latest"
"npm:@hono/cli" = "latest"
"npm:localflare" = "latest"
"npm:react-doctor" = "latest"
"cargo:pitchfork-cli" = "latest" # https://pitchfork.jdx.dev/

[tasks.tidy]
run = "pnpm run lint && pnpm run format"

[tasks.setup]
depends = ["setup:*"]

[tasks."setup:env"]
run = "pnpm install"
hide = true

[tasks."setup:auth"]
depends = ["setup:env"]
run = """
pnpm run auth:generate && pnpm run db:generate
"""
hide = true

[tasks.dev]
depends = ["setup:*", "dev:migrate"]
run = ["pitchfork start --force --all", { tasks = ["log:pitchfork"] }]

[tasks."dev:migrate"]
depends = ["setup:auth"]
run = "yes | pnpm run db:migrate"
hide = true

[tasks.down]
run = "pitchfork stop app localflare"

[tasks."log:pitchfork"]
run = "pitchfork logs --tail"

[tasks."react-doctor"]
run = "react-doctor . --diff --verbose --no-ami -y"
